<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <div class=""signup-container>
    <form id="signup">
    <h1>Sign up</h1>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
    <label for="phoneno">Phoneno:</label>
    <input type="tel" name="phoneno" id="phoneno">
    <label type="password">Password:</label>
    <input type="password" name="password" id="password">
    <button type="submit">Sign Up</button>
</form>
</div>
</body>
<script src="signup.js">

</script>
</html>